label:not([for]) input[type="checkbox"] + span {
  background: url(switches/images/check/default.png) no-repeat center top;
}

label:not([for]) input[type="radio"] + span {
  background: url(switches/images/radio/default.png) no-repeat center top;
}

label:not([for]).danger input[type="checkbox"] + span {
  background-image: url(switches/images/check/danger.png);
}

label:not([for]).danger input[type="radio"] + span {
  background-image: url(switches/images/radio/danger.png);
}

label:not([for]) input:checked + span {
  background-position: center bottom;
}

